In [34]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import time

import requests
from bs4 import BeautifulSoup
from urllib.parse import urlparse, parse_qs, urlencode
import json
import lxml
import streamlit as st

import matplotlib.pyplot as plt

import os
import sys
from pathlib import Path

import bcrypt

from google.cloud import bigquery
from google.oauth2 import service_account
import gspread
from gspread_dataframe import set_with_dataframe
from googleapiclient.discovery import build
import io
from googleapiclient.http import MediaIoBaseDownload

import warnings

In [35]:
KEY_PATH = ".config/"
servicekey_path = KEY_PATH + "serviceKey.json" ## 빅쿼리 외 다른 API 활용 위해
bigquerykey_path = KEY_PATH + "mido-project-426906-31b49963ac97.json"
sheetskey_path = KEY_PATH + "mido-project-426906-41a4b6d0e3db.json"
midopluskey_path = KEY_PATH + "midoplus.json"

warnings.filterwarnings("ignore")

In [36]:
def get_service_key(servicekey_path):

    with open(servicekey_path) as f:
        data = json.load(f)
    return data

In [37]:
get_service_key(midopluskey_path)

{'type': 'service_account',
 'project_id': 'midoplus',
 'private_key_id': '49d0390fd99cc31707ad95444c725e9bbb34e344',
 'private_key': '-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDYZ9wpK9qjZP5J\nghzBfr73BWo8JeHMyMazhXrgTUIsU9Q2fer9+0Cn3ODVnjGReTKU7hyKfx2sLWE/\nhy22RZJUF3EnkecYhi8UEB34jzIu5frK5miM2HIzL88PMhb0+uMD+rQ5uqIuz6zD\nlY2Gb6PxP6IGCKtILISbm0aJoVdb8ybaeCKYpMK/5JAzIz8C2+xeyHzwhQCYqLCP\nGVs+OUWRD47bqGZZOPdxBbfquOEBM6oncHoMnBi4fPofFKste+mLxUJP//E20ryL\nYN41OMtOXCM05UEEnlTtDGFBpEKNwl6sjPCnll6j4/9yNWGxWq8TbbKxLWjjuLsw\n9t4Ev9YFAgMBAAECggEAVyMy9m0PI53l+olmtM8pa+QFS+ThEAmEYQMNYEYbsCet\nGqgHOG+0MCNzcPC6+t23bVqXqXjX5N18/AydbniDHFM4H/vS9wAI8uYue0iFp3a5\nTnwKezQof83vbSn5LnnbcV3AtkIdTgYXhcWxcAGCHQFHZ3CUL4Klfta+R2rs9zuq\nRIdB29tZ0eiPXawuLB01Q6Yc3D68ekfJ8JL3M1Ja4qtqqaWfZZsP1lzAu2FbhdKF\nH7B3o2vyUphQu2eBspdIXS7Ervy+iwEZJgiOkof6cuFw5b3p71haqk1hk2+BL7of\n3E2bROg8axB8nSgt8kOEkknjunRMILPsNY/12FshnQKBgQD9kx5ufecJjAEbUutJ\ndxSHsM2F7Kp1MqE3j5an/YvO1HN5NfqHjbpI/lfA8rNm1zcmUOxfe9YJwVswZeqt\nB1qvPeqEBRG4KTSrGRlafiZPMJRvu72HxKAbGt2TwrC4AWifwDPxjxWJWvZnN8aw\n2iF19tbtT6EaKubEzUChrreetwKBgQDaebt8aOtmIWKOeX1BR2mDTp2gZCjYFbs4\ndqPP269GoRNHFTp0+VtWGz+Q+JpDNzpUkpV0qO7m9nxLlXFNzZHHge2fb6eJQP9b\nrWF6bi7ju/TGLM9etTocMBGaljatBf0Q+t2TG9hfNgCaH5d5C8AAN5UXs1PNnHav\nvfVvD0D1IwKBgG5FkDJUpihMrh6HzLJCCreHd5kJ9obI4bsbwlSDukzTrvPDOZPB\nWoVrthW+da3/YYhUILbVT5smbtV5PLjKPfF/Z4DKA46mvLS7UX885MQDSEnexulH\n5Khk4n7jZ55dXnY6S1x88MyutgDlDI7UDUETexvwSQrsJTboW3b0V/25AoGBALvJ\nRJCz8hnv+jGyVSomAphdm3kAfmb1jt4Cg90m2+peix5fLcbbillhxGqMdLPvpZCK\nCjKi/e3B0aZ6BlC0sGgG0sNnCl8cYiFfztiYGm+e387zNy8VoKQX4Rm5obdo3VOZ\n/ZfzqDB2T2AqZV0i716AaANeHVsu8IkwQuS5/MB3AoGASboCDJZBjUOxmclzHvI7\nboh/xUu8oyvmzqAQRlxRaIPe0Wg6W7cNcbhD0wkEf8KSxKMo0DmS0qGhV/AuQl+c\ntmYs2wB9e3ocPQ4ticRi0Eohr1spRbcbsHg0jb6r1p04AyWOl5fnC4cm8AANFndS\n/LEiyKgxURru2xLKoErtUMM=\n-----END PRIVATE KEY-----\n',
 'client_email': 'midoplus-bigquery-01@midoplus.iam.gserviceaccount.com',
 'client_id': '102010814190329000326',
 'auth_uri': 'https://accounts.google.com/o/oauth2/auth',
 'token_uri': 'https://oauth2.googleapis.com/token',
 'auth_provider_x509_cert_url': 'https://www.googleapis.com/oauth2/v1/certs',
 'client_x509_cert_url': 'https://www.googleapis.com/robot/v1/metadata/x509/midoplus-bigquery-01%40midoplus.iam.gserviceaccount.com',
 'universe_domain': 'googleapis.com'}

In [38]:
# BigQuery 클라이언트 생성 함수
def create_bigquery_client(key_path):
    credentials = service_account.Credentials.from_service_account_file(key_path)
    client = bigquery.Client(credentials=credentials, project=credentials.project_id)
    return client

In [39]:
create_bigquery_client(midopluskey_path)

In [40]:
def save_dataframe_to_bigquery(df, dataset_id, table_id, key_path):
    # BigQuery 클라이언트 객체 생성
    client = create_bigquery_client(key_path)

    # 테이블 레퍼런스 생성
    table_ref = client.dataset(dataset_id).table(table_id)

    # 데이터프레임을 BigQuery 테이블에 적재
    job_config = bigquery.LoadJobConfig()
    job_config.write_disposition = "WRITE_TRUNCATE"  # 기존 테이블 내용 삭제 후 삽입

    job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
    job.result()  # 작업 완료 대기

    print(f"Data inserted into table {table_id} successfully.")

In [41]:
def get_dataframe_from_bigquery(dataset_id, table_id, key_path):
    # BigQuery 클라이언트 생성
    client = create_bigquery_client(key_path)

    # 테이블 레퍼런스 생성
    table_ref = client.dataset(dataset_id).table(table_id)

    # 테이블 데이터를 DataFrame으로 변환
    df = client.list_rows(table_ref).to_dataframe()

    return df

In [42]:
# 비밀번호 생성 및 해싱 함수
def generate_hashed_password(phone_number):
    
    # 전화번호의 뒷자리 4자리로 비밀번호 생성
    password = phone_number[-4:]
    
    # # 비밀번호 해싱
    # password = bcrypt.hashpw(password.encode('utf-8'), bcrypt.gensalt())
    return password

### 빅쿼리

In [10]:
shopping_df = get_dataframe_from_bigquery('DATA_WAREHOUSE', 'g2b_data', midopluskey_path)
shopping_df_fin = shopping_df.drop('collection_Date',axis=1)

shopping_prod_df = get_dataframe_from_bigquery('DATA_MARTS', 'g2b_prod_data', midopluskey_path)
shopping_prod_df_fin = shopping_prod_df.fillna('')

news_df = get_dataframe_from_bigquery('DATA_MARTS', 'news_data', midopluskey_path)
news_df_fin = news_df.drop('collection_Date',axis=1)

### 구글 스프레드 시트

In [43]:
# Google Sheets 클라이언트 생성
sheets_scope = ["https://spreadsheets.google.com/feeds", "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/drive.file", "https://www.googleapis.com/auth/drive"]

sheets_creds = service_account.Credentials.from_service_account_file(midopluskey_path, scopes=sheets_scope)
gc = gspread.authorize(sheets_creds)

#### 지자체 교육청 예산 현황

In [137]:
# 스프레드시트 ID (URL에서 확인 가능)
business_sheet_id = '166xdkZYI-SDNwdEiI6-Kt-p1wsTwFTAYAVfuCiFly0E' ## 미도플러스 사업현황

In [138]:
# 기존 스프레드시트 및 워크시트 열기
WORKSHEET_NAME = '지자체'
spreadsheet_business = gc.open_by_key(business_sheet_id)
worksheet_business = spreadsheet_business.worksheet(WORKSHEET_NAME)

# 구글 시트에서 데이터 읽기
data = worksheet_business.get_all_records()
pd.DataFrame(data)

,지역명,자치단체명,세부사업명,삭제,예산현액,국비,시도비,시군구비,기타,지출액,편성액
0,강원특별자치도,원주시,간현생태공원 체육시설 조성(전환사업),FALSE,3000000000,0,1950000000,1050000000,0,0,3000000000
1,강원특별자치도,강릉시,"강릉 종합스포츠 타운 건립 (축구장, 야구장, 파크골프장, 테니스장)",FALSE,,,,,,,
2,강원특별자치도,강릉시,강릉스케이트장 인조잔디 설치,FALSE,,,,,,,
3,강원특별자치도,강릉시,강릉테니스장 조성사업,FALSE,140405840,0,0,140405840,0,138596600,0
4,강원특별자치도,춘천시,게이트볼장 시설개선,FALSE,85000000,0,85000000,0,0,84950700,0
...,...,...,...,...,...,...,...,...,...,...,...
708,충청북도,청주시,청주야구장 시설개선 사업,FALSE,1114817330,0,0,1114817330,0,1109201320,0
709,충청북도,옥천군,체육시설 부지조성사업,FALSE,1717642210,0,0,1717642210,0,1567759980,400000000
710,충청북도,단양군,체육시설물 유지관리 - 매포생활체육공원 축구장 인조잔디 교체공사 실시설계,FALSE,,,,,,,
711,충청북도,제천시,체육진흥시설지원(남부지역 생활체육공원조성),FALSE,949708830,0,0,949708830,0,26773800,600000000
712,충청북도,충주시,충주 대가미공원 인조잔디 - 관급자재,FALSE,,,,,,,

In [139]:
# 기존 스프레드시트 및 워크시트 열기
WORKSHEET_NAME = '교육청'
spreadsheet_edu = gc.open_by_key(business_sheet_id)
worksheet_edu = spreadsheet_edu.worksheet(WORKSHEET_NAME)

# 구글 시트에서 데이터 읽기
data = worksheet_edu.get_all_records()
pd.DataFrame(data)

,시도,시군구,구분,과업명,삭제,금액,면적,예산집행
0,강원특별자치도,교육부,국립,강원대학교사범대학부설고등학교 인조잔디운동장조성 및 환경개선,FALSE,2442350000,,
1,강원특별자치도,강릉교육지원청,공립,경포중학교 야구장 시설개선,FALSE,10900000,9298,학교
2,강원특별자치도,강릉교육지원청,공립,관동중학교 인조잔디 운동장 조성,FALSE,806400000,4082,교육청
3,강원특별자치도,춘천교육지원청,공립,봉의초등학교 테니스장교체,FALSE,613290000,,
4,강원특별자치도,화천교육지원청,공립,상서중학교 운동장 보수,FALSE,89533000,4664,학교
...,...,...,...,...,...,...,...,...
156,충청남도,예산교육지원청,공립,예산여자중학교 유해운동장 교체,FALSE,259105000,2900,교육청
157,충청남도,충청남도교육청,공립,합덕제철고등학교 운동장 교체,FALSE,42486000,,
158,충청남도,논산계룡교육지원청,공립,강경여자중학교 인조잔디 교체,FALSE,150144000,5770,교육청
159,충청북도,청주교육지원청,공립,서경중학교 운동장 보수 및 바닥교체,FALSE,602871000,3500,교육청
160,충청북도,청주교육지원청,공립,석교초등학교 야구부실내연습장증축,FALSE,1421325000,,교육청

In [15]:
# # 새로운 시트 생성
# budget_df = pd.DataFrame(data)
# new_sheet_name = '지자체백업'
# new_sheet = spreadsheet_business.add_worksheet(title=new_sheet_name, rows=len(budget_df), cols=len(budget_df.columns))

# set_with_dataframe(new_sheet, budget_df)

In [16]:
# # 데이터프레임을 기존 워크시트에 업로드
# budget_df = pd.DataFrame(data)
# set_with_dataframe(worksheet, budget_df)

#### 종합쇼핑몰 납품 상세

In [17]:
# 스프레드시트 ID (URL에서 확인 가능)
shopping_sheet_id = '16vld1WTJwsrWPD_kFcUX1LJb-9WAtY2gnPFG5nGEqZ0' ## 미도플러스 종합쇼핑몰 현황
spreadsheet_shopping = gc.open_by_key(shopping_sheet_id)

In [18]:
# 기존 스프레드시트 및 워크시트 열기
WORKSHEET_NAME = '납품현황'
worksheet_shopping = spreadsheet_shopping.worksheet(WORKSHEET_NAME)

# 기존 데이터 지우기
worksheet_shopping.clear()

# 데이터 프레임을 스프레드 시트에 덮어쓰기
worksheet_shopping.update([shopping_df_fin.columns.values.tolist()] + shopping_df_fin.values.tolist())

{'spreadsheetId': '16vld1WTJwsrWPD_kFcUX1LJb-9WAtY2gnPFG5nGEqZ0',
 'updatedRange': "'납품현황'!A1:AL14309",
 'updatedRows': 14309,
 'updatedColumns': 38,
 'updatedCells': 543742}

#### 종합쇼핑몰 품목 정보

In [19]:
# 스프레드시트 ID (URL에서 확인 가능)
shopping_sheet_id = '16vld1WTJwsrWPD_kFcUX1LJb-9WAtY2gnPFG5nGEqZ0' ## 미도플러스 종합쇼핑몰 현황
spreadsheet_shopping = gc.open_by_key(shopping_sheet_id)

In [20]:
# 기존 스프레드시트 및 워크시트 열기
WORKSHEET_NAME = '품목정보'
worksheet_shopping_prod = spreadsheet_shopping.worksheet(WORKSHEET_NAME)

# 기존 데이터 지우기
worksheet_shopping_prod.clear()

# 데이터 프레임을 스프레드 시트에 덮어쓰기
worksheet_shopping_prod.update([shopping_prod_df_fin.columns.values.tolist()] + shopping_prod_df_fin.values.tolist())

{'spreadsheetId': '16vld1WTJwsrWPD_kFcUX1LJb-9WAtY2gnPFG5nGEqZ0',
 'updatedRange': "'품목정보'!A1:AH621",
 'updatedRows': 621,
 'updatedColumns': 34,
 'updatedCells': 21114}

In [21]:
# # 데이터프레임을 기존 워크시트에 업로드
# budget_df = pd.DataFrame(data)
# set_with_dataframe(worksheet, budget_df)

#### 뉴스스크랩

In [22]:
# 스프레드시트 ID (URL에서 확인 가능)
news_sheet_id = '1BnbDPv79Y44RpbMmZA2wFiFlM3mNN5xPtyOXFW0ABBk' ## midoplus news
spreadsheet_news = gc.open_by_key(news_sheet_id)

In [23]:
# 기존 스프레드시트 및 워크시트 열기
WORKSHEET_NAME = 'news'
worksheet_news = spreadsheet_news.worksheet(WORKSHEET_NAME)

# 기존 데이터 지우기
worksheet_news.clear()

# 데이터 프레임을 스프레드 시트에 덮어쓰기
worksheet_news.update([news_df_fin.columns.values.tolist()] + news_df_fin.values.tolist())

{'spreadsheetId': '1BnbDPv79Y44RpbMmZA2wFiFlM3mNN5xPtyOXFW0ABBk',
 'updatedRange': 'news!A1:D148',
 'updatedRows': 148,
 'updatedColumns': 4,
 'updatedCells': 592}

### 파일업로드

#### 파일업로드 로그

In [215]:
# 스프레드시트 ID (URL에서 확인 가능)
upload_sheet_id = '1sTpLxbmOdpGwSQDbvg02Eh1gxjVwSfI5PtMQ9sr-XmM' ## 계약관리, 생산일지 업로드
spreadsheet_upload = gc.open_by_key(upload_sheet_id)

In [216]:
# 기존 스프레드시트 및 워크시트 열기
WORKSHEET_NAME = 'upload_log'
worksheet_upload = spreadsheet_upload.worksheet(WORKSHEET_NAME)

# 구글 시트에서 데이터 읽기
data = worksheet_upload.get_all_records()
upload_log_df = pd.DataFrame(data)
upload_log_df

,파일유형,계약코드,File Upload,업로드날짜
0,계약관리,11111111,upload_log_Files_/11111111.File Upload.013056....,2024-08-19
1,생산일지,22222222,upload_log_Files_/22222222.File Upload.013353....,2024-08-19
2,생산일지,33333333,upload_log_Files_/33333333.File Upload.013854....,2024-08-19
3,생산일지,122417736700,upload_log_Files_/122417736700.File Upload.015...,2024-08-19
4,생산일지,240819,upload_log_Files_/240819.File Upload.074245.xlsx,2024-08-19

In [217]:
recent_upload_nm = upload_log_df.iloc[-1]['File Upload'].split('/')[1]

In [218]:
# 폴더 내 파일리스트 확인
# 특정 폴더 ID
folder_id = '1lUstrwPCzmeQDej4UyIwFB6tRIGpj04S' ## 'upload_log_Files_' 폴더id

# Google Drive API 클라이언트 생성
drive_service = build('drive', 'v3', credentials=sheets_creds)

# 폴더 내의 모든 파일 리스트 가져오기
results = drive_service.files().list(
    q=f"'{folder_id}' in parents",
    spaces='drive',
    fields="nextPageToken, files(id, name, mimeType, createdTime, modifiedTime)",
    pageSize=100  # 한 번에 최대 100개의 파일을 가져옵니다.
).execute()

items = results.get('files', [])

# if not items:
#     print('No files found.')
# else:
#     print(f"Files in folder '{folder_id}':")
#     for item in items:
#         print(f"File Name: {item['name']}, File ID: {item['id']}, Created Time: {item['createdTime']}, Modified Time: {item['modifiedTime']}")

upload_file_df = pd.DataFrame(items)

In [219]:
# 최근 업로드된 파일 불러오기
file_id = upload_file_df[upload_file_df['name']==recent_upload_nm]['id'][0] ## 가장 최근 업로드한 파일 id

# 파일 다운로드
request = drive_service.files().get_media(fileId=file_id)
fh = io.BytesIO()
downloader = MediaIoBaseDownload(fh, request)
done = False

while not done:
    status, done = downloader.next_chunk()
    print(f"Download {int(status.progress() * 100)}% complete.")

# 메모리에서 파일 읽기
fh.seek(0)
df = pd.read_excel(fh)

Download 100% complete.

#### 생산일지

In [245]:
upload_df = pd.read_excel(fh,header=5) ## 업로드된 생산일지 원본

In [247]:
# 업로드된 생산일지 전처리
# 불필요데이터 제거
upload_df_fin = upload_df.iloc[:upload_df['R/NO'].last_valid_index()+1]

# 채우고자 하는 컬럼 범위 설정 (일자부터 YARN까지)
columns_to_fill = ['일자', '구장명', '오더량', 'ITEM', 'SPI', 'PH', 'PW', 'T/F TYPE', '기포지', '제직폭', '본수', '입고폭', 'YARN']

# 각 컬럼에 대해 NaN 값을 첫 행의 값으로 채우기
for column in columns_to_fill:
    upload_df_fin[column] = upload_df_fin[column].fillna(upload_df_fin[column].iloc[0])

upload_df_fin = upload_df_fin.rename(columns={'날짜':'생산일자', '일자':'생산일자'}) ## 기존 생산일지 형식 맞춤
upload_df_fin

,생산일자,구장명,오더량,ITEM,SPI,PH,PW,T/F TYPE,기포지,제직폭,본수,입고폭,YARN,COLOR,도전사,R/NO,제직량 M,입고량 M,비고
0,01.04,고척돔구장,11191,MD55,2,63/55,1650,jm,95G,414,434.0,400.0,13500.0,VGF,NaN,11.0,85.0,81.1,NaN
1,01.04,고척돔구장,11191,MD55,2,63/55,1650,jm,95G,414,434.0,400.0,13500.0,VGF,NaN,12.0,82.0,78.7,NaN
2,01.04,고척돔구장,11191,MD55,버드 원사 3차 크릴 및 연경,63/55,1650,jm,95G,414,434.0,400.0,13500.0,VGF,NaN,13.0,70.0,66.6,NaN
3,01.04,고척돔구장,11191,MD55,2,63/55,1650,jm,95G,414,434.0,400.0,13500.0,VGF,NaN,14.0,56.0,52.3,NaN
4,01.04,고척돔구장,11191,MD55,2,63/55,1650,jm,95G,414,434.0,400.0,13500.0,VGF,NaN,15.0,NaN,NaN,NaN
5,01.04,고척돔구장,11191,MD55,2,63/55,1650,jm,95G,414,434.0,400.0,13500.0,VGF,NaN,16.0,NaN,NaN,NaN
6,01.04,고척돔구장,11191,MD55,2,63/55,1650,jm,95G,414,434.0,400.0,13500.0,DGF,NaN,1.0,NaN,NaN,NaN
7,01.04,고척돔구장,11191,MD55,2,63/55,1650,jm,95G,414,434.0,400.0,13500.0,DGF,NaN,2.0,NaN,NaN,NaN
8,01.04,고척돔구장,11191,MD55,2,63/55,1650,jm,95G,414,434.0,400.0,13500.0,DGF,NaN,3.0,NaN,NaN,NaN
9,01.04,고척돔구장,11191,MD55,2,63/55,1650,jm,95G,414,434.0,400.0,13500.0,DGF,NaN,4.0,NaN,NaN,NaN
10,01.04,고척돔구장,11191,MD55,2,63/55,1650,jm,95G,414,434.0,400.0,13500.0,DGF,NaN,5.0,NaN,NaN,NaN
11,01.04,고척돔구장,11191,MD55,2,63/55,1650,jm,95G,414,434.0,400.0,13500.0,DGF,NaN,6.0,NaN,NaN,NaN
12,01.04,고척돔구장,11191,MD55,2,63/55,1650,jm,95G,414,434.0,400.0,13500.0,DGF,NaN,7.0,NaN,NaN,NaN
13,01.04,고척돔구장,11191,MD55,2,63/55,1650,jm,95G,414,434.0,400.0,13500.0,DGF,NaN,8.0,NaN,NaN,NaN

In [205]:
# 스프레드시트 ID (URL에서 확인 가능)
production_sheet_id = '1dl6GyEkzarfgcKSmT9hwYzR63MhcGDox0z-gCa0_7OI' ## midoplus production_report --> 생산일지통합
spreadsheet_production = gc.open_by_key(production_sheet_id)

In [206]:
# 기존 스프레드시트 및 워크시트 열기
WORKSHEET_NAME = 'production_report'
worksheet_production = spreadsheet_production.worksheet(WORKSHEET_NAME)

# 구글 시트에서 데이터 읽기
data = worksheet_production.get_all_records()
production_df = pd.DataFrame(data)
production_df

,납품요구번호,계약코드,생산일자,납품요구접수일자,납품기한일자,납품요구건명,구장명,오더량,ITEM,SPI,...,제직폭,본수,입고폭,YARN,COLOR,도전사,R/NO,제직량,입고량,비고
0,2419398300,241939830001,2019. 10. 25,2019. 10. 8,2019. 12. 7,승촌게이트볼장 기능보강 공사 관급자재(인조잔디),승촌게이트 실내,382,MD35,4.95,...,414,434,400,MONO7800.3500 GBR,VGF,O,1,17.4,15.5,
1,2419398300,241939830001,2019. 10. 25,2019. 10. 8,2019. 12. 7,승촌게이트볼장 기능보강 공사 관급자재(인조잔디),승촌게이트 실내,382,MD35,4.95,...,414,434,400,MONO7800.3500 GBR,VGF L,,101-1,44,40,
2,2419398300,241939830001,2019. 10. 26,2019. 10. 8,2019. 12. 7,승촌게이트볼장 기능보강 공사 관급자재(인조잔디),승촌게이트 실외,374,MD35,4.95,...,414,434,400,MONO7800.3500 GBR,VGF L,,101-2,44,40,완료
3,2419398300,241939830001,2019. 10. 26,2019. 10. 8,2019. 12. 7,승촌게이트볼장 기능보강 공사 관급자재(인조잔디),승촌게이트 실외,374,MD35,4.95,...,414,434,400,MONO7800.3500 GBR,VGF L,O,101-1,44,10,
4,2419398300,241939830001,2019. 10. 26,2019. 10. 8,2019. 12. 7,승촌게이트볼장 기능보강 공사 관급자재(인조잔디),승촌게이트 실외,374,MD35,4.95,...,414,434,400,MONO7800.3500 GBR,VGF L,,101-2,44,10,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8374,2123371712,212337171201,2023. 12. 5,2023. 11. 14,2024. 1. 31,부산동성고 인조잔디(MD35) 구입(운동장 환경개선공사),부산동성고트랙,577,MD35,3,...,414,434,400,13500,BROWN,,2,,,
8375,2123371712,212337171201,2023. 12. 5,2023. 11. 14,2024. 1. 31,부산동성고 인조잔디(MD35) 구입(운동장 환경개선공사),부산동성고트랙,577,MD35,3,...,414,434,400,13500,BROWN,,3,,,
8376,2123371712,212337171201,2023. 12. 6,2023. 11. 14,2024. 1. 31,부산동성고 인조잔디(MD35) 구입(운동장 환경개선공사),부산동성고트랙,577,MD35,5,...,414,434,400,7800,BROWN,,101,,,제직완료
8377,1223635895,122363589501,2023. 12. 7,2023. 11. 28,2024. 1. 27,월산4리 야외체육시설 조성공사 관급자재 구입,월산4리,110,MD35,5,...,414,434,400,7800,VGF,,1,,,제직완료
8378,2123371712,212337171201,2023. 12. 7,2023. 11. 14,2024. 1. 31,부산동성고 인조잔디(MD35) 구입(운동장 환경개선공사),부산동성고변부,131,MD35,5,...,414,434,400,7800,VGF,,1,,,제직완료

In [214]:
pd.concat([production_df,upload_filtered_df],axis=0)['YARN'].unique()

array(['MONO7800.3500 GBR', 'MONO 13500', '7800D+3500D', '13500D 6F',
       '13500D', '9000D+3500D', '7800D 6F', 13500, '7800+3500', '7800D',
       7800, '7800+3500D', '7800 + 3500', '13500 비난연'], dtype=object)

#### 계약내용

In [197]:
# 전처리
production_df['계약코드'] = np.where(production_df['계약코드']=='',production_df['납품요구번호'],production_df['계약코드']) ## 계약코드 없는것 --> 납품요구번호로 대체
production_df_fin = production_df.drop_duplicates(['납품요구번호','계약코드','납품요구건명','구장명']).reset_index(drop=True) ## 중복제거

production_df_fin['납품요구건명'] = production_df_fin['납품요구건명'].apply(lambda x: ' '.join(x.split('\n')[1].strip().split(' ')[1:]) if '\n' in x else x) ## 납품요구건명 오정보 수정

In [198]:
production_df_final = production_df_fin[['납품요구번호', '계약코드', '납품요구접수일자', '납품기한일자', '납품요구건명', '구장명']]

In [28]:
production_df_final['납품요구접수일자'] = production_df_final['납품요구접수일자'].str.replace(' ','')
production_df_final['납품기한일자'] = production_df_final['납품기한일자'].str.replace(' ','')

In [29]:
# 날짜 형식 변환
production_df_final['납품기한일자'] = pd.to_datetime(production_df_final['납품기한일자'], format='%Y.%m.%d')

# 현재 날짜 기준으로 진행상황 컬럼 추가
current_date = datetime.now()
production_df_final['진행상황'] = production_df_final['납품기한일자'].apply(lambda x: '완료' if x < current_date else '진행중')
production_df_final['납품기한일자'] = production_df_final['납품기한일자'].astype(str)

In [30]:
# 스프레드시트 ID (URL에서 확인 가능)
contracts_sheet_id = '1YEl1Sw_uKw8URp8_nOfmgxBQWJtuiVJcH9ZYMHszGH0' ## midoplus contracts
spreadsheet_contracts = gc.open_by_key(contracts_sheet_id)

In [31]:
# 기존 스프레드시트 및 워크시트 열기
WORKSHEET_NAME = 'contracts'
worksheet_contracts = spreadsheet_contracts.worksheet(WORKSHEET_NAME)

# 기존 데이터 지우기
worksheet_contracts.clear()

# 데이터 프레임을 스프레드 시트에 덮어쓰기
worksheet_contracts.update([production_df_final.columns.values.tolist()] + production_df_final.values.tolist())

{'spreadsheetId': '1YEl1Sw_uKw8URp8_nOfmgxBQWJtuiVJcH9ZYMHszGH0',
 'updatedRange': 'contracts!A1:G834',
 'updatedRows': 834,
 'updatedColumns': 7,
 'updatedCells': 5838}

In [44]:
# 스프레드시트 ID (URL에서 확인 가능)
upload_sheet_id = '1sTpLxbmOdpGwSQDbvg02Eh1gxjVwSfI5PtMQ9sr-XmM' ## 계약관리, 생산일지 업로드
spreadsheet_upload = gc.open_by_key(upload_sheet_id)

In [45]:
# 기존 스프레드시트 및 워크시트 열기
WORKSHEET_NAME = 'upload_log'
worksheet_upload = spreadsheet_upload.worksheet(WORKSHEET_NAME)

# 구글 시트에서 데이터 읽기
data = worksheet_upload.get_all_records()
upload_df = pd.DataFrame(data)
upload_df

,파일유형,계약코드,File Upload,업로드날짜
0,계약관리,11111111,upload_log_Files_/11111111.File Upload.013056....,2024-08-19
1,생산일지,22222222,upload_log_Files_/22222222.File Upload.013353....,2024-08-19
2,생산일지,33333333,upload_log_Files_/33333333.File Upload.013854....,2024-08-19
3,생산일지,122417736700,upload_log_Files_/122417736700.File Upload.015...,2024-08-19

In [77]:
# 특정 폴더 ID
folder_id = '1lUstrwPCzmeQDej4UyIwFB6tRIGpj04S' ##

# Google Drive API 클라이언트 생성
drive_service = build('drive', 'v3', credentials=sheets_creds)

# 폴더 내의 모든 파일 리스트 가져오기
results = drive_service.files().list(
    q=f"'{folder_id}' in parents",
    spaces='drive',
    fields="nextPageToken, files(id, name, mimeType, createdTime, modifiedTime)",
    pageSize=100  # 한 번에 최대 100개의 파일을 가져옵니다.
).execute()

items = results.get('files', [])

if not items:
    print('No files found.')
else:
    print(f"Files in folder '{folder_id}':")
    for item in items:
        print(f"File Name: {item['name']}, File ID: {item['id']}, Created Time: {item['createdTime']}, Modified Time: {item['modifiedTime']}")

Files in folder '1lUstrwPCzmeQDej4UyIwFB6tRIGpj04S':
File Name: 122417736700.File Upload.015042.xlsx, File ID: 1I2IjS0Yy9di2Xkl5lib2jyxbhZQw5aXw, Created Time: 2024-08-19T01:50:43.447Z, Modified Time: 2024-08-19T01:50:45.746Z
File Name: 33333333.File Upload.013854.xlsx, File ID: 1ad0JTmiaByNwffEWdXXtlTITEJR_GtR5, Created Time: 2024-08-19T01:38:55.591Z, Modified Time: 2024-08-19T01:38:56.971Z
File Name: 22222222.File Upload.013353.xlsx, File ID: 1tbMlhfbdTT5bSsiNYFl5VLgpzcje65yf, Created Time: 2024-08-19T01:33:53.736Z, Modified Time: 2024-08-19T01:33:55.113Z
File Name: 11111111.File Upload.013056.xlsx, File ID: 1MID0qw9YoBFUnlbWq853LbaDBu0R-6tT, Created Time: 2024-08-19T01:30:58.123Z, Modified Time: 2024-08-19T01:30:59.504Z

In [135]:
file_id = '1I2IjS0Yy9di2Xkl5lib2jyxbhZQw5aXw'

# 파일 다운로드
request = drive_service.files().get_media(fileId=file_id)
fh = io.BytesIO()
downloader = MediaIoBaseDownload(fh, request)
done = False

while not done:
    status, done = downloader.next_chunk()
    print(f"Download {int(status.progress() * 100)}% complete.")

# 메모리에서 파일 읽기
fh.seek(0)
df = pd.read_excel(fh)

Download 100% complete.

In [121]:
aa = pd.read_excel('C:\py_src\midoproject\data/20240808.xlsx', header=5)

In [133]:
filtered_df = aa[aa['R/NO'].notnull()]

filtered_df = filtered_df.fillna(method='ffill')

In [134]:
filtered_df

,날짜,계약코드,구장명,오더량,ITEM,SPI,PH,PW,T/F TYPE,기포지,제직폭,본수,입고폭,YARN,COLOR,도전사,R/NO,제직량 M,입고량 M,비고
0,2024-08-08,122417736700,이천중학교,8300,MD55,2,63/55,1650,JM,95.0,414.0,434,400.0,13500.0,VGF,NaN,3.0,66.0,64.0,NaN
1,2024-08-08,122417736700,이천중학교,8300,MD55,2,63/55,1650,JM,95.0,414.0,434,400.0,13500.0,VGF,NaN,4.0,66.0,64.0,NaN
2,2024-08-08,122417736700,이천중학교,8300,MD55,2,63/55,1650,JM,95.0,414.0,434,400.0,13500.0,VGF,NaN,5.0,66.0,64.0,NaN
3,2024-08-08,122417736700,이천중학교,8300,MD55,2,63/55,1650,JM,95.0,414.0,434,400.0,13500.0,VGF,NaN,6.0,66.0,64.0,NaN
4,2024-08-08,122417736700,이천중학교,8300,MD55,2,63/55,1650,JM,95.0,414.0,434,400.0,13500.0,VGF,NaN,7.0,66.0,64.0,NaN
5,2024-08-08,122417736700,이천중학교,8300,MD55,2,63/55,1650,JM,95.0,414.0,434,400.0,13500.0,VGF,NaN,8.0,66.0,64.0,NaN
6,2024-08-08,122417736700,이천중학교,8300,MD55,2,63/55,1650,JM,95.0,414.0,434,400.0,13500.0,VGF,NaN,9.0,66.0,64.0,NaN
7,2024-08-08,122417736700,이천중학교,8300,MD55,2,63/55,1650,JM,95.0,414.0,434,400.0,13500.0,VGF,NaN,10.0,66.0,64.0,NaN
8,2024-08-08,122417736700,이천중학교,8300,MD55,2,63/55,1650,JM,95.0,414.0,434,400.0,13500.0,VGF,NaN,11.0,66.0,64.0,NaN
9,2024-08-08,122417736700,이천중학교,8300,MD55,2,63/55,1650,JM,95.0,414.0,434,400.0,13500.0,VGF,NaN,12.0,66.0,64.0,NaN
10,2024-08-08,122417736700,이천중학교,8300,MD55,2,63/55,1650,JM,95.0,414.0,434,400.0,13500.0,VGF,NaN,101.0,66.0,64.0,NaN