In [1]:
import pandas as pd
from datetime import datetime, timedelta
import time

import requests
from bs4 import BeautifulSoup
from urllib.parse import urlparse, parse_qs, urlencode
import json
import lxml
import streamlit as st

import matplotlib.pyplot as plt

import os
import sys
from pathlib import Path

import bcrypt

from google.cloud import bigquery
from google.oauth2 import service_account

import warnings

In [38]:
KEY_PATH = ".config/"
servicekey_path = KEY_PATH + "serviceKey.json" ## 빅쿼리 외 다른 API 활용 위해
bigquerykey_path = KEY_PATH + "mido-project-426906-2cdd7de17142.json"

warnings.filterwarnings("ignore")

In [39]:
def get_service_key(servicekey_path):

    with open(servicekey_path) as f:
        data = json.load(f)
    return data

In [40]:
get_service_key(bigquerykey_path)

{'type': 'service_account',
 'project_id': 'mido-project-426906',
 'private_key_id': '2cdd7de17142075c4d7a5d060c53f1bde16ee5d0',
 'private_key': '-----BEGIN PRIVATE KEY-----\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDZvqfCcNxnIfwu\nJIb8IQr+YDHV0vp63L57ZvnFj8CJoN1coAtHKCxljQvPMBEuyFyMwd7K30MEWZWL\nB3N8dcuUA0+CDQo/P6d5S6N+CH12m4AiGNNWomj9i9hfzPO0pU8dIlb9MApv2e7t\nuro3JVKshKekXh7ia0Y0u+SV9TH54cTIkp9Q86Q8HDMhCAua4j+AXT5xH3kgfgp7\n24vyecgP+6mEeAgikdu8phAlQLeQQ3UK0l5w5lewUVGQBncdxQ2vylJN0Fjr+f+j\ny3euZr9aCDwdUQ/lcUjFrv4ZgzOfZL35rdYCQtQkBXshUsO487LXiAMCXDYN4yRu\nv6vO0OkzAgMBAAECggEAE3+jGZWuTvf4Od0tT0xzZd/d82L76V7bs3fY6KwDFrzJ\nuQuSs8UK4+8gMX+a6+cNgdDmLzst9UJDOQ3ddbXXGWjwe9nIfKB2uIIHx0Rh9wPD\nkvB8YF1iOUfTUPgTLMgodphTVN0YwJDLkgziGjt+SBLUlkxglKL8yI640Gro4xJ+\nMfznDKqzh6x2jt/ziTAKqaFPKYrDOo9gyYJFGtM4vqvZs9f96MA/BxczL0q20mCb\nMeG1817g2aNdVSwvruMkFzRsAYiEQARXgL4Bd1z77hJR6RyOtr3/oGlNyvlQYFYo\nmxlB6Tj8lGY7/ogfaIPRHwPJu07jI3JU0GnPNft0zQKBgQDwRCUfHEhsdOTm0PSf\nZMYQCLWHxcMqzwQ+ty3GUQyWapJK2m9XK3o9MlhHJYNUw1fjRpuOV0dpyInj62iI\n2gRbmCuSC/fVAnUJ4QvYjNIpQFU3npnJLTLpNaFu29Tn8kxO2H/Dd/ZCsDFHqgFs\ncIp+bYk3K6Oqu4Hb6YPjgYmEXQKBgQDoAPUv+pf46q0PnLfN9eRSZWsWzdMa9Sau\nrqSpzOlRynssOacc01nYk6M5CUDt+FXPZkIQ1bbgYLJLic+S2UkI6xmIADd0CpNu\nwyz2VfRJiuy+CVzy2WHVmNUk3N811THnFwNyAHgaIartSQxGEFxlXmi6eSpiie/2\nG/c4zAxKzwKBgEyhD03a0WZ16cOMBVkI5PqcLHl/I331xJ7UAW9szhzzJHFnNXeR\n0EzQT8NxPW+9VbyQ+m/tekNMyF2+6PosvpMP92V/F64COJ3L/uE0GJs7f3JbzSSS\nm9gxWKlox4CqkJfdCPKowgwG8dCvcgDJ7AHioY7NBkgfwY0H7x6SY++pAoGACJow\nfSzvgZ1B+Xg4IHzjkGKOS/QpxbAdVRDIrjsY052MX6Frntf/VtZykOTU8X3pwJzs\nCi/CbiNnuQFNHwbLfHcrJS3M4JKb0NmPyzp4qllqWcmDFsYUqJTYIlvGMvrKtOTX\njdySl3V0HwQ8XkSxCFktzOw9NBYlPZzf181JD2UCgYAxh/le0bXpV5m3OhVaJI9s\nFeCJ1HBU65K3+2sjJEnLDplmHWs4e0IozQIlJxNobRz7TAHv6D8Dd/CEYKFxrip0\noPSHMeV0PdW/4pDQ9P8KCrRS5qESWrJLrCeSV08+iP+YbAQMqJhFZOZ1I9UAwd2q\neO55Iq2hr5HO1PpnpooOAQ==\n-----END PRIVATE KEY-----\n',
 'client_email': 'midoproject-919@mido-project-426906.iam.gserviceaccount.com',
 'client_id': '104232606578021363066',
 'auth_uri': 'https://accounts.google.com/o/oauth2/auth',
 'token_uri': 'https://oauth2.googleapis.com/token',
 'auth_provider_x509_cert_url': 'https://www.googleapis.com/oauth2/v1/certs',
 'client_x509_cert_url': 'https://www.googleapis.com/robot/v1/metadata/x509/midoproject-919%40mido-project-426906.iam.gserviceaccount.com',
 'universe_domain': 'googleapis.com'}

In [36]:
# BigQuery 클라이언트 생성 함수
def create_bigquery_client(key_path):
    credentials = service_account.Credentials.from_service_account_file(key_path)
    client = bigquery.Client(credentials=credentials, project=credentials.project_id)
    return client

In [41]:
create_bigquery_client(bigquerykey_path)

In [6]:
def save_dataframe_to_bigquery(df, dataset_id, table_id, key_path):
    # BigQuery 클라이언트 객체 생성
    client = create_bigquery_client(key_path)

    # 테이블 레퍼런스 생성
    table_ref = client.dataset(dataset_id).table(table_id)

    # 데이터프레임을 BigQuery 테이블에 적재
    job_config = bigquery.LoadJobConfig()
    job_config.write_disposition = "WRITE_TRUNCATE"  # 기존 테이블 내용 삭제 후 삽입

    job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
    job.result()  # 작업 완료 대기

    print(f"Data inserted into table {table_id} successfully.")

In [ ]:
def get_dataframe_from_bigquery(dataset_id, table_id, key_path):
    # BigQuery 클라이언트 생성
    client = create_bigquery_client(key_path)

    # 테이블 레퍼런스 생성
    table_ref = client.dataset(dataset_id).table(table_id)

    # 테이블 데이터를 DataFrame으로 변환
    df = client.list_rows(table_ref).to_dataframe()

    return df

In [11]:
def get_dataframe_from_bigquery(dataset_id, table_id, key_path):
    # BigQuery 클라이언트 생성
    client = create_bigquery_client(key_path)

    # 테이블 레퍼런스 생성
    table_ref = client.dataset(dataset_id).table(table_id)

    # table = client.get_table(table_ref) # API 요청

    # 테이블 데이터를 DataFrame으로 변환
    df = client.list_rows(table_ref).to_dataframe()

    return df

In [9]:
# 비밀번호 생성 및 해싱 함수
def generate_hashed_password(phone_number):
    
    # 전화번호의 뒷자리 4자리로 비밀번호 생성
    password = phone_number[-4:]
    
    # # 비밀번호 해싱
    # password = bcrypt.hashpw(password.encode('utf-8'), bcrypt.gensalt())
    return password

In [10]:
offices = {
    'officeCode' : [1],
    'officeName' : ['미도플러스'],
    'officePhone' : ['031-623-6235'],
    'officeFAX' : ['031-990-6735'],
    'officeAddress' : [{'본사' : '경기도 시흥시 승지로 59번길 12 (시티타워 211호)',
                        '공장' : '경북 구미시 1공단로 4길 38-10 (1동)',
                        '창고' : '경기도 화성시 정남면 백리양지길 30'}]
}
offices = pd.DataFrame(offices)


departments = {
    'departmentCode' : ['M1', 'M2', 'M3', 'M4', 'M5'],
    'departmentName' : ['총괄부', '영업부', '관리부', '품질관리부', '홍보부'],
    'officeCode' : [1, 1, 1, 1, 1]
}
departments = pd.DataFrame(departments)


employees = {
    'employeeNumber': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012],
    'employeeName': ['김태희', '김봉진', '이영만', '이상원', '임미영', '김종협', '남기영', '야동원', '서인상', '김민균', '김형관', '김범모'],
    'employeePhone': ['010-4251-3542', '010-2845-0199', '010-3476-3428', '010-8338-6482', '010-9359-4954', '010-4087-1020', '010-7145-7294', '010-8505-7551', '010-6214-5469', '010-3066-2365', '010-2910-0963', '010-3035-3269'],
    'officeCode': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
    'departmentCode': ['M1', 'M1', 'M2', 'M2', 'M3', 'M4', 'M2', 'M2', 'M2', 'M5', 'M3', 'M3'],
    'jobTitle': ['대표', '실장', '이사', '부장', '차장', '팀장', '팀장', '과장', '대리', 'PD', '사원', '사원']
}
employees = pd.DataFrame(employees)

In [11]:
# save_dataframe_to_bigquery(offices, 'mido_test', 'offices', bigquerykey_path)
# save_dataframe_to_bigquery(departments, 'mido_test', 'departments', bigquerykey_path)
# save_dataframe_to_bigquery(employees, 'mido_test', 'employees', bigquerykey_path)

Data inserted into table offices successfully.
Data inserted into table departments successfully.
Data inserted into table employees successfully.

In [12]:
departments = get_dataframe_from_bigquery('mido_test', 'departments', bigquerykey_path)
employees = get_dataframe_from_bigquery('mido_test', 'employees', bigquerykey_path).sort_values(by='employeeNumber').reset_index(drop=True)

In [13]:
departments

  departmentCode departmentName  officeCode
0             M1            총괄부           1
1             M2            영업부           1
2             M3            관리부           1
3             M4          품질관리부           1
4             M5            홍보부           1

In [14]:
employees

,employeeNumber,employeeName,employeePhone,officeCode,departmentCode,jobTitle
0,1001,김태희,010-4251-3542,1,M1,대표
1,1002,김봉진,010-2845-0199,1,M1,실장
2,1003,이영만,010-3476-3428,1,M2,이사
3,1004,이상원,010-8338-6482,1,M2,부장
4,1005,임미영,010-9359-4954,1,M3,차장
5,1006,김종협,010-4087-1020,1,M4,팀장
6,1007,남기영,010-7145-7294,1,M2,팀장
7,1008,야동원,010-8505-7551,1,M2,과장
8,1009,서인상,010-6214-5469,1,M2,대리
9,1010,김민균,010-3066-2365,1,M5,PD
10,1011,김형관,010-2910-0963,1,M3,사원
11,1012,김범모,010-3035-3269,1,M3,사원

In [13]:
users = pd.merge(employees, departments[['departmentCode', 'departmentName']], on='departmentCode', how='left').drop(columns=['officeCode', 'departmentCode'])
users['password'] = users['employeePhone'].apply(generate_hashed_password)

In [14]:
# save_dataframe_to_bigquery(users.sort_values(by='employeeNumber'), 'mido_test', 'users', bigquerykey_path)
users = get_dataframe_from_bigquery('mido_test', 'users', bigquerykey_path).sort_values(by='employeeNumber').reset_index(drop=True)

Data inserted into table users successfully.

In [19]:
orderlist = pd.read_csv('C:/py_src/midoproject/data/orderlist.csv',encoding='cp949')

In [20]:
save_dataframe_to_bigquery(orderlist, 'mido_test', 'orderlist', bigquerykey_path)

Data inserted into table orderlist successfully.

In [15]:
orderlist = get_dataframe_from_bigquery('mido_test', 'orderlist', bigquerykey_path)

In [16]:
orderlist

,NO,영업리스트 수령일,본사담당자,지역,발주처,구분,사업명,제품명,면적,금액,영업딜러
0,117,2024-05-02,김봉진 실장,경기,고양시,지자체,성라테니스장 3면,EG 20,None,-,None
1,1010,2023-03-06,남기영 팀장,충남,아산시,지자체,도고 스포츠타운,MD 55,None,-,None
2,1012,2023-09-22,남기영 팀장,충남,아산시,지자체,배방 족구장 조성,MD 35,"1,000","53,000,000",None
3,1013,2024-03-12,남기영 팀장,충남,아산시,지자체,농어촌공사 인주면 기초생활 거점사업,MD55,None,None,None
4,405,2024-03-25,이상원 부장,경남,함안군,지자체,학동족구장 정비사업,EG 35,700,"44,450,000",이상원 부장님
...,...,...,...,...,...,...,...,...,...,...,...
1052,1033,2023-11-28,이상원 부장,충북,음성군,지자체,"음성 생극면 생활체육공원 축구장, 풋살장, 족구장",MD 55,None,None,None
1053,1048,2023-12-07,이상원 부장,충북,청주시,지자체,청주옥산체육공원 축구장 인조잔디 교체,MD 55,"7,700","473,550,000",None
1054,1056,2024-05-13,이상원 부장,군부대,해군1함대사령부,군부대,해군 1함대 족구장,MD 55,"1,200","73,800,000",None
1055,1057,2024-05-13,이상원 부장,군부대,해군3함대사령부,군부대,해군 3함대 야구장 겸용 축구장,MD 55,"11,000","676,500,000",None
1056,580,2023-10-24,이영만 이사,세종,세종시,지자체,"부강면 야구장, 미호강 축구장 등 침수 개보수 - 24년(상)",MD 55,"48,651","2,992,036,500",None

In [52]:
load_data('mido_test','orderlist',bigquerykey_path)

,NO,영업리스트 수령일,본사담당자,지역,발주처,구분,사업명,제품명,면적,금액,영업딜러
0,117,2024-05-02,김봉진 실장,경기,고양시,지자체,성라테니스장 3면,EG 20,None,-,None
1,1010,2023-03-06,남기영 팀장,충남,아산시,지자체,도고 스포츠타운,MD 55,None,-,None
2,1012,2023-09-22,남기영 팀장,충남,아산시,지자체,배방 족구장 조성,MD 35,"1,000","53,000,000",None
3,1013,2024-03-12,남기영 팀장,충남,아산시,지자체,농어촌공사 인주면 기초생활 거점사업,MD55,None,None,None
4,405,2024-03-25,이상원 부장,경남,함안군,지자체,학동족구장 정비사업,EG 35,700,"44,450,000",이상원 부장님
...,...,...,...,...,...,...,...,...,...,...,...
1052,1033,2023-11-28,이상원 부장,충북,음성군,지자체,"음성 생극면 생활체육공원 축구장, 풋살장, 족구장",MD 55,None,None,None
1053,1048,2023-12-07,이상원 부장,충북,청주시,지자체,청주옥산체육공원 축구장 인조잔디 교체,MD 55,"7,700","473,550,000",None
1054,1056,2024-05-13,이상원 부장,군부대,해군1함대사령부,군부대,해군 1함대 족구장,MD 55,"1,200","73,800,000",None
1055,1057,2024-05-13,이상원 부장,군부대,해군3함대사령부,군부대,해군 3함대 야구장 겸용 축구장,MD 55,"11,000","676,500,000",None
1056,580,2023-10-24,이영만 이사,세종,세종시,지자체,"부강면 야구장, 미호강 축구장 등 침수 개보수 - 24년(상)",MD 55,"48,651","2,992,036,500",None